In [1]:
import pandas as pd
import numpy as np
res=pd.read_csv('Fact_Result.csv')
res.head(2)

,Unnamed: 0,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,circuitId
0,0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,39.0,2.0,01:27.5,218.3,1,1
1,1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,41.0,3.0,01:27.7,217.586,1,1

In [12]:
(res.raceId.value_counts())

800    55
809    47
361    39
744    39
363    39
       ..
470    14
657    14
660    13
827    13
765    10
Name: raceId, Length: 976, dtype: int64

In [13]:
total_races = res['raceId'].nunique()
print("Total number of races:", total_races)

Total number of races: 976